include ./data/_metaData.pug

doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //-　本ページだけのユニークなmetaタグを出力 
    +uniqueMeta("top")
    
    //- ToDo:cssとJSをuniqueMetaと同様のロジックで出力する(JSとCSSそれぞれを別の機能とする)
    link(rel="stylesheet", href="../css/style.css")
  body 
    include ./parts/_mainHeader.pug

    main.main
      .main__inner
        h1 pugテスト:トップページです
        //- 下記のように |と改行を使用することでテキスト内にbr等、他タグを設置できる
        p 
          | pugテスト:
          br
          | テキストテキストテキストテキストテキストテキストテキストテキストテキスト

    include ./parts/_mainFooter.pug
    