doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title pugテスト | 下層ページです
    link(rel="stylesheet", href="../css/under.css")
  body 
    include ./parts/_underHeader.pug

    main.main
      .main__inner
        h1 pugテスト:下層ページです

    include ./parts/_underFooter.pug
    